{% extends "raiz.html" %}

 {% block content %}
    

    <main class="container py 5 mt-5">
      <section class="card card-body">
        <h1 class="display-1 text-center">Django CRUD</h1>
        <i class="fas fa-h3 text-center   ">Designed by Nathan Gutiérrez Gil</i>
        <p>

        </p>
        
        <div class="text-center">
        
          <a class="btn btn-primary" href="/iniciarSesion">
            Log in
          </a>

          <a class="btn btn-dark" href="/registro">
            Registro
          </a>
          

      </div>
      </main>
  
   
     
 {% endblock %}

 